@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: rgb(224, 228, 180);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  margin-right: 5px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
